.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(var(--color-background-extra-light), var(--color-primary-dark));
    height: 12vh;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--color-primary-dark);
}

/* .texto__footer {
    font-family: "Source Code Pro", monospace;
    color: var(--color-secondary);
} */

.iconos-sociales {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--color-primary-dark);
}